html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 1100px;
}

h1 {
  color: #141414;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 300;
}

/* .header__title {
  align-self: center;
} */

.header__date {
  font-size: 40px;
  font-weight: 600;
  height: 100px;;
  width: 400px;
  text-align: center;
}

.header__options {
  /* padding: 10px;
  border: 1px solid black; */
  top: 0;
  width: 400px;
  height: 100px;
  color: #141414;
  font-weight: 600;
}

/* .body {
} */

.footer {
  width: 100%;
}

.task {
  padding: 0em;
}

.task__item__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.task__item {
  padding: 0.25em;
  height: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbff;
  border: 1px solid #a09d9d;
  border-radius: 0.5em;
  transition-property: all;
  transition-duration: 0.3s;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

.task__item.marked {
  background-color: #f3f1f1;
  color: #808080;
  text-decoration: line-through;
  border: none;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.task_description {
  font-size: 1.05em;
}

.task__date {
  font-size: 0.75em;
  text-align: end;
  padding-right: 1em;
}

.task__priority {
  display: none;
}

.priority-handler {
  cursor: pointer;
  font-size: 2em;
}

.header__button {
  border: none;
  font-size: 40px;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: #141414;
  font-weight: 600;
  top: 0;
}

.header__button:hover {
  color: gold;
}

.order__arrows {
  cursor: pointer;
}

.order__arrows:hover {
  color: gold;
}

.header__title {
  font-weight: 600;
  height: 100px;
  width: 400px;
  text-align: center;
  font-size: 40px;
}