html {
  display: flex;
  justify-content: center;
  align-items: center;
  /* suavizado de bordes */
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #141414;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.header__title {
  font-weight: 600;
  height: 150px;
  width: 400px;
  text-align: center;
  font-size: 40px;
  background: black;
  color: white;
}

.header__button {
  border: none;
  font-size: 40px;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: #141414;
  font-weight: 600;
  top: 0;
  background: black;
  color: white;
}

.header__date {
  font-size: 40px;
  font-weight: 600;
  height: 150px;;
  width: 400px;
  text-align: center;
  background: black;
  color: white;
}

.header__options {
  top: 0;
  width: 400px;
  height: 150px;
  color: #141414;
  font-weight: 600;
  background: black;
  color: white;
}

/* header-hovers */

.header__button:hover {
  color: gray;
}

.order__arrows {
  cursor: pointer;
}

.order__arrows:hover {
  color: gray;
}

/* tasks */
.task {
  padding: 0em;
}

.task__item__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.task__item {
  padding: 0.25em;
  height: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbff;
  border: 1px solid #a09d9d;
  border-radius: 0.5em;
  transition-property: all;
  transition-duration: 0.3s;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

.task__item.marked {
  background-color: #f3f1f1;
  color: #808080;
  text-decoration: line-through;
  border: none;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.task_description {
  font-size: 1.05em;
}

.task__date {
  font-size: 0.75em;
  text-align: end;
  padding-right: 1em;
}

.task__priority {
  display: none;
}

.priority-handler {
  cursor: pointer;
  font-size: 2em;
}

/* footer */
.footer {
  width: 100vw;
  left: 0;
  color: white;
  background-color: black;
  animation-name: color_unchange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -13px 34px -17px rgba(0, 0, 0, 0.75);
}

.form__arrow {
  display: block;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  cursor: pointer;
}
.form__task {
  font-size: 15px;
}

@keyframes color_change {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: #3d3d3d;
    color: black;
  }
}

@keyframes color_unchange {
  from {
    background-color: #3d3d3d;
    color: black;
  }
  to {
    background-color: black;
    color: white;
  }
}

.footer:hover,
.form__arrow:active {
  animation-name: color_change;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.footer_main {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer_date {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  order: 3;
  min-width: 400px;
  margin-top: 1em;
}

.footer input[type="text"],
.footer input[type="date"] {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 2px;
}

.footer input[type="submit"],
.footer input[type="button"] {
  background: gray;
  padding: 8px 15px 8px 15px;
  border: none;
  color: black;
  border-radius: 5px;
}

.footer input[type="submit"]:hover,
.footer input[type="button"]:hover {
  background: white;
  box-shadow: none;
}
.footer input[type="text"]:focus,
.footer input[type="date"]:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

/* @media screen and (min-width: 850px) {
  .form__arrow {
    display: none;
  }
  .footer_main {
    margin-top: 1em;
    flex-wrap: initial;
  }
  .footer_date {
    display: flex;
    order: initial;
    min-width: initial;
    margin-top: initial;
  }
} */
