html {
  display: flex;
  justify-content: center;
  align-items: center;
  /* suavizado de bordes */
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
}

h1 {
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 300;
}

/* .header__title {
  align-self: center;
} */

.header__date {
  font-size: 15px;
}

.header__options {
  padding: 10px;
  border: 1px solid black;
}

.task__item {
  height: 100px;
  margin: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
/* footer */
.footer {
  width: 100vw;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: black;
  animation-name: color_unchange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  overflow: auto;
  position: sticky;
  bottom: 0;
  box-shadow: 0px -13px 34px -17px rgba(0, 0, 0, 0.75);
}

.form__arrow {
  display: block;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.form__task {
  font-size: 15px;
}

@keyframes color_change {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: #3d3d3d;
    color: black;
  }
}

@keyframes color_unchange {
  from {
    background-color: #3d3d3d;
    color: black;
  }
  to {
    background-color: black;
    color: white;
  }
}

.footer:hover,
.form__arrow:active {
  animation-name: color_change;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.footer_main {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_date {
  margin-bottom: 1em;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer input[type="text"],
.footer input[type="date"] {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 2px;
}

.footer input[type="submit"],
.footer input[type="button"] {
  background: gray;
  padding: 8px 15px 8px 15px;
  border: none;
  color: black;
  border-radius: 5px;
}

.footer input[type="submit"]:hover,
.footer input[type="button"]:hover {
  background: white;
  box-shadow: none;
}
.footer input[type="text"]:focus,
.footer input[type="date"]:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
